In [4]:
import pandas as pd

# 1. 데이터 로드 및 기본 정보 확인
# CSV 파일 불러오기
df = pd.read_csv('titanic_train.csv')

In [5]:
# 피처 추출 (독립변수 확인해보기)
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [6]:
# 데이터프레임의 상위 5개 행을 출력하여 데이터의 기본 구조를 확인하시오.
# (빈칸: df.______())
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [7]:
# 2. 피처 엔지니어링 1: 가족 수 변수 생성
# SibSp (형제자매 / 배우자 수) + Parch (부모 / 자녀 수) 값을 더하여 새로운 가족 수 변수를 만드시오.
# 변수 이름은 'Family_Size'로 지정하세요.
df['Family_Size'] = df['SibSp'] + df['Parch']
# Family_Size 변수의 분포를 확인하고, 전체적인 분포가 어떤지 설명하시오.

In [8]:
# 3. 피처 엔지니어링 2: 이름에서 호칭 추출
# 이름(`Name`)에서 Mr, Mrs, Miss 등 호칭을 추출하여 새로운 'Title' 변수를 생성하세요.
# 힌트: 이름 문자열에서 콤마(,)와 점(.) 사이의 텍스트를 추출하면 됨.
# (빈칸: df['Title'] = df['Name'].str.extract('_____', expand=False))
df['Title'] = df['Name'].str.extract('([A-Za-z]+)\.', expand=False)
# 생성된 Title 변수의 상위 5개 값을 출력하고, 다양한 호칭이 어떻게 구성되어 있는지 확인하세요.

In [9]:
# 4. 피처 엔지니어링 3: 나이 그룹화
# Age 변수의 결측값을 중간값으로 채우고, 나이 범주를 나눠서 'Age_Group' 변수를 생성하세요.
# 예: 0-12 (Child), 13-18 (Teenager), 19-35 (Young_Adult), 36-60 (Adult), 60 이상 (Senior)
# (빈칸: df['Age'] = df['Age'].fillna(df['______.median()']))
df['Age'] = df['Age'].fillna(df['Age'].median())
# 나이를 그룹화하는 함수 작성
def age_group(age):
    if age <= 12:
        return 'Child'
    elif age <= 18:
        return 'Teenager'
    elif age <= 35:
        return 'Young_Adult'
    elif age <= 60:
        return 'Adult'

# age_group 함수를 사용하여 새로운 'Age_Group' 변수 생성
# (빈칸: df['Age_Group'] = df['Age'].apply(____))
df['Age_Group'] = df['Age'].apply(age_group)
# 생성된 Age_Group 변수의 분포를 확인하세요.
# (빈칸: print(df['______'].value_counts()))
print(df['Age_Group'].value_counts())

Age_Group
Young_Adult    535
Adult          195
Teenager        70
Child           69
Name: count, dtype: int64

In [10]:
# 5. 피처 엔지니어링 4: 요금 범주화
# Fare 변수를 기준으로 값이 높은 승객과 낮은 승객을 구분하기 위해 4개의 구간으로 나누어 'Fare_Bin' 변수를 생성하세요.
# 힌트: pd.qcut() 함수를 사용하여 구간 나누기
# (빈칸: df['Fare_Bin'] = pd.qcut(df['____'], _____))
df['Fare_Bin'] = pd.qcut(df['Fare'], 4)
# Fare_Bin 변수의 빈도를 출력하고, 값의 분포를 확인하세요.
# (빈칸: print(df['______'].value_counts()))
print(df['Fare_Bin'].value_counts())

Fare_Bin
(7.91, 14.454]     224
(-0.001, 7.91]     223
(14.454, 31.0]     222
(31.0, 512.329]    222
Name: count, dtype: int64

In [11]:
# 6. 피처 엔지니어링 5: 객실 여부
# Cabin 변수가 결측인 경우와 아닌 경우를 구분하여 'Cabin_Known' 변수를 생성하세요.
# Cabin 값이 존재하면 1, 결측이면 0으로 설정하세요.
# (빈칸: df['Cabin_Known'] = df['Cabin'].notna().astype(____))
df['Cabin_Known'] = df['Cabin'].notna().astype(int)

# 생성된 Cabin_Known 변수의 빈도를 출력하고, 객실 여부와 생존율 간의 관계를 분석하세요.
# (빈칸: print(df['______'].value_counts()))
print(df['Cabin_Known'].value_counts())

Cabin_Known
0    687
1    204
Name: count, dtype: int64

In [14]:
# 7. 피처 엔지니어링 6: 승선 지역
# 'Embarked' 변수를 더미 변수로 변환하여 승선 지역(S, C, Q)을 기준으로 각각의 더미 변수를 생성하세요.
# (빈칸: df = pd.get_dummies(df, columns=['____'], drop_first=True))
df = pd.get_dummies(df, columns=['Embarked'], drop_first=True)
# 변환된 데이터프레임의 상위 5개 행을 출력하여 더미 변수 생성 결과를 확인하세요.
# (빈칸: df.______())
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Family_Size,Title,Age_Group,Fare_Bin,Cabin_Known,Embarked_Q,Embarked_S
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,1,Mr,Young_Adult,"(-0.001, 7.91]",0,False,True
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,1,Mrs,Adult,"(31.0, 512.329]",1,False,False
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,0,Miss,Young_Adult,"(7.91, 14.454]",0,False,True
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,1,Mrs,Young_Adult,"(31.0, 512.329]",1,False,True
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,0,Mr,Young_Adult,"(7.91, 14.454]",0,False,True

In [ ]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Family_Size,Title,Age_Group,Fare_Bin,Cabin_Known,Embarked_Q,Embarked_S
0,892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,0,Mr,Young_Adult,Low,0,True,False
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,1,Mrs,Adult,Low,0,False,True
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,0,Mr,Senior,Mid,0,True,False
3,895,0,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,0,Mr,Young_Adult,Mid,0,False,True
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,2,Mrs,Young_Adult,Mid,0,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
413,1305,0,3,"Spector, Mr. Woolf",male,27.0,0,0,A.5. 3236,8.0500,0,Mr,Young_Adult,Mid,0,False,True
414,1306,1,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,0,Dona,Adult,Very_High,1,False,False
415,1307,0,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,0,Mr,Adult,Low,0,False,True
416,1308,0,3,"Ware, Mr. Frederick",male,27.0,0,0,359309,8.0500,0,Mr,Young_Adult,Mid,0,False,True
417,1309,0,3,"Peter, Master. Michael J",male,27.0,1,1,2668,22.3583,2,Master,Young_Adult,High,0,False,False

## 문제

### 1. 피처엔지니어링을 통해 기대할 수 있는 효과는 무엇인지 설명하시오.
불필요한 특성을 제거하고 유의미한 특성을 추가하면서 모델의 성능을 향상할 수 있습니다

### 2. 새로 생성한 변수에 대해 간단히 설명하고 모델의 성능이 향상된다면 그 이유가 무엇일지 설명하시오.
Family_Size : SibSp와 Parch를 합산한 값.               
Title : 승객의 이름에서 직합(Title)을 추출한 변수.              
Age_Group : 승객의 나이를 그룹화한 변수.           
Fare_Bin : 승객의 요금을 4개 구간으로 나눈 변수.               
Cabin_Known : 승객의 객실 정보가 존재하는지 여부를 나타내는 이진 변수.            
Embarked의 더미 변수 : 승객이 배에 탑승한 항구인 범주형 변수를 수치형으로 표현한 변수.         
성능 향상의 이유 : 범주형 변수를 모델이 해석할 수 있는 방식으로 변환하여 모델의 예측력을 높였다. 결측값을 처리하고 불필요한 변수를 제거함으로써 모델의 성능 저하를 방지하였다.